[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CWT"]
	path = CWT
	url = https://github.com/antguz/cwt
[submodule "rTLS"]
	path = rTLS
	url = https://github.com/antguz/rtls
